body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: beige;
}
.productDiv {
  background-color: rgb(118, 197, 197);
  width: 600px;
  height: 300px;
  padding: 30px;
}
.input {
  width: 400px;
  height: 50px;
  font-size: 40px;
  background-color: whitesmoke;
}
.sendBtn {
  height: 50px;
  font-size: 40px;
  margin-left: 30px;
  border-radius: 10px;
  background-color: rgb(212, 183, 151);
  cursor: pointer;
}
.sendBtn:hover {
  background-color: wheat;
}
.sendBtn:active {
  background-color: rgb(235, 196, 123);
}
.updateBtn {
  display: block;
  margin-top: 150px;
  height: 50px;
  font-size: 40px;
  border-radius: 10px;
  background-color: rgb(212, 183, 151)

}
.updateBtn:hover {
  background-color: wheat;
}
.updateBtn:active {
  background-color: rgb(235, 196, 123);
}
.list {
  background-color: rgb(62, 89, 90);
  width: 700px;
  height: 700px;color: white;
}
.heading {
  font-size: 40px;
  margin: 0;
  padding: 0;
  text-align: center;
  color: blue;
}